//
// OVERIDES ALL
// use this for helper classes, hacks and global overides like !important
// **********************************************************************

img {
    max-width: 100%;
}

// typography
p {
    margin-bottom: $text-white-space;
}
strong,
b {
    font-weight: 700;
}
.rte {
    & > *:first-child {
        margin-top: 0;
    }
}
a {
    &.active.focus,
    &.active:focus,
    &.focus,
    &:active.focus,
    &:active:focus,
    &:focus {
        outline: none;
    }
}

// animations
a {
    cursor: none;
    transition: color 0.8s $ease-out-quint;
    &:hover,
    &:focus {
        transition: color 0.4s $ease-out-quint;
    }
}

.block {
    display: block;
}

blockquote,
.blockquote {
    background: theme-color('primary');
    color: #fff;
    padding: $padding-large-horizontal;
    font-weight: 100;
    font-size: 34px;
    border: none;
    text-align: center;
    margin: 50px 0;
    .blockquote-footer {
        @extend .smaller;
        color: inherit;
    }
}
.larger {
    font-size: 1.2em;
    line-height: 1.4em;
}
.smaller {
    font-size: 0.8em;
    line-height: 1.4em;
}

.text-lightgray {
    color: $gray-200;
}
.text-gray {
    color: $gray-500;
}
.text-darkgray {
    color: $gray-800;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-right-md {
    @include media-breakpoint-up(md){
        text-align: right;
    }
}
.text-center-xs {
    @media only screen and (max-width: $screen-sm-max) {
        text-align: center;
    }
}

.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// icons
.icon__text {
    padding-left: 6px;
}

// outdated browsers alert
.browsehappy {
    background: #fcc;
    display: block;
    padding: 10px;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid #f99;
    color: #b00;
    // 'unstyled font'
    font-size: 14px;
    font-family: sans-serif;
    a {
        color: blue;
    }
}

.margTop-20 {
    margin-top: 20px;
}
.margBot-20 {
    margin-bottom: 20px;
}

.relative {
    position: relative;
}
