// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

h1, .h1 {
    font-size: 55px;
    font-family: 'CirceRegular';
    font-weight: 400;
    line-height: 1.1;
    @include media-breakpoint-up(md){
        font-size: 70px;
        line-height: 1.3;
    }
    @include media-breakpoint-up(lg){
        font-size: $h1-font-size;
    }
    img {
        vertical-align: baseline;
    }
}
h2, .h2 {
    font-size: 31px;
    @include media-breakpoint-up(md){
        font-size: 42px;
    }
    @include media-breakpoint-up(lg){
        font-size: $h2-font-size;
    }
}
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

.lead {
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;
}

// Type display classes
.display-1 {
    font-size: $display1-size;
    font-weight: $display1-weight;
    line-height: $display-line-height;
}
.display-2 {
    font-size: $display2-size;
    font-weight: $display2-weight;
    line-height: $display-line-height;
}
.display-3 {
    font-size: $display3-size;
    font-weight: $display3-weight;
    line-height: $display-line-height;
}
.display-4 {
    font-size: $display4-size;
    font-weight: $display4-weight;
    line-height: $display-line-height;
}


//
// Horizontal rules
//

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

small,
.small {
    font-size: $small-font-size;
    font-weight: $font-weight-normal;
}

.text-md {
    font-size: $font-size-md;
}
.text-sm {
    font-size: 10px;
    @media screen and (min-width: $screen-md-min) {
        font-size: $font-size-sm;
    }
}
.text-large {
    font-size: $font-size-large;
}

@media screen and (min-width: $screen-sm-min) {
    .text-sm-left   { text-align: left; }
    .text-sm-right  { text-align: right; }
    .text-sm-center { text-align: center; }
  }
  @media screen and (min-width: $screen-md-min) {
    .text-md-left { text-align: left;}
    .text-md-right {text-align: right;}
    .text-md-center {text-align: center;}
  }

  @media screen and (min-width: $screen-lg-min) {
    .text-lg-left { text-align: left;}
    .text-lg-right { text-align: right;}
    .text-lg-center { text-align: center;}
  }

  @media screen and (min-width: $screen-xl-min) {
    .text-xl-left { text-align: left;}
    .text-xl-right { text-align: right;}
    .text-xl-center { text-align: center;}
  }

mark,
.mark {
    padding: $mark-padding;
    background-color: $mark-bg;
}


//
// Lists
//

.list-unstyled {
    @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
    @include list-unstyled;
}
.list-inline-item {
    display: inline-block;

    &:not(:last-child) {
        margin-right: $list-inline-padding;
    }
}

.helper-icon {
    font-size: 10px;
}

.helper-info {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
}

//
// Misc
//

// Builds on `abbr`
.initialism {
    font-size: 90%;
    text-transform: uppercase;
}

// Blockquotes
.blockquote {
    margin-bottom: $spacer;
    font-size: $blockquote-font-size;
}

.blockquote-footer {
    display: block;
    font-size: 80%; // back to default font-size
    color: $blockquote-small-color;

    &::before {
        content: "\2014 \00A0"; // em dash, nbsp
    }
}

.w100 {
    width: 100%;
}

.text--accent {
    color: $c-error;
}
.text--light {
    color: #6770e2;
}
.text--primary {
    color: $primary-color;
}

