$ANIM_SPEED: .5s;
$ANIM_DELAY: .1s;
$ANIM_TYPE: linear;

.page-enter-active .pageContent {
  transition: top $ANIM_SPEED $ANIM_TYPE;
}

.page-exit .pageContent {
  //position: fixed;
  //top: 0;
  //left: 0;
  //right: 0;
  //transition: transform $ANIM_SPEED $ANIM_TYPE;
}

.page-exit-active .pageContent {
  //transition: transform $ANIM_SPEED $ANIM_TYPE;
}
.page-exit .header,
.page-exit-active .header {
  //opacity: 0;
  background: transparent !important;
}

//.mainAnim {
//  &.page-exit {
//    opacity: 0;
//  }
//}

@keyframes animateForwards {
  from { top: 1200px; }
  to { top: 0; }
}

.approachAnimation {
  &.page-enter {
    z-index: 199;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    top: 1200px;
    animation: animateForwards $ANIM_SPEED $ANIM_TYPE forwards $ANIM_DELAY;
  }
  &.page-enter-active {
    display: block;
  }
  &.page-enter .header {
    top: -100%;
    //opacity: 0;
  }
  &.page-enter-active .header {
    top: 0;
    transition: top $ANIM_SPEED $ANIM_TYPE;
    //transition-delay: 5s;
    //opacity: 1;
  }
  &.page-enter .pageContent {
    //transform-style: preserve-3d;
    //transform: translateY(1080px);
    //transition-delay: 1s;
  }
  &.page-enter-active .pageContent {
    //transform-style: preserve-3d;
    //transform: translateY(0);
    //transition-delay: 1s;
  }
  &.page-exit .menu,
  &.page-exit .cursor {
    opacity: 1;
    transition: opacity $ANIM_SPEED $ANIM_TYPE;
  }
  &.page-exit .pageContent {
    //transform-style: preserve-3d;
    //transform: translateY(0);
  }
  &.page-exit-active .menu,
  &.page-exit-active .cursor {
    opacity: 0;
  }
  &.page-exit-active .pageContent {
    //transform-style: preserve-3d;
    //transform: translateY(1080px);
  }
}

.mainAnimation {
  &.page-enter {
    transform-style: preserve-3d;
    transform: translateY(-100%);
  }
  &.page-enter-active {
    transform: translateY(0);
  }
  &.page-exit {
    transform-style: preserve-3d;
    transform: translateY(-100%);
  }
  &.page-exit-active {
    transform: translateY(0);
  }
}
