.button {
  font-family: "PT Mono";
  font-size: 30px;
  border: 0;
  outline: 0;
  color: $white;
  cursor: none;
  position: relative;
  @include media-breakpoint-up(md){
    font-size: 50px;
  }
  &:hover:before, &:focus:before, &:active:before {
    transform: scale(1);
  }
  &:before {
    content: '';
    margin-right: 20px;
    vertical-align: middle;
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: #ffffff;
    @include media-breakpoint-up(md){
      margin-right: 40px;
      width: 110px;
    }
  }
  &:focus,
  &:active {
    outline: 0;
  }
  &--full {
    width: 100%;
  }
  &--transparent {
    background-color: transparent;
  }
  &--small {
    display: inline-block;
    font-size: 26px;
    height: 66px;
    padding: 13px 35px;
    img {
      margin-left: 15px;
    }
    &:before {
      display: none;
    }
  }
  &--red {
    color: #353535;
    border-radius: 33px !important;
    border: 2px solid #EFC171;
    //background-color: #ffffff;
  }
}

button {
  cursor: none;
}
