body {
    @media only screen and (min-width: 1366px) {
        cursor: none;
    }
}
.cursor {
    display: none;
    @media only screen and (min-width: 1366px) {
        display: block;
    }
    width: 60px;
    height: 60px;
    // left: -60px;
    top: -60px;
    position: fixed;
    pointer-events: none;
    backface-visibility: hidden;
    z-index: 1001;
    .onHover {
        //margin-top: -10px;
        //margin-left: -15px;
        text-align: center;
        color: #ff6f61;
        //transition: transform 0.1s;
    }
    &-circle {
        width: 60px;
        height: 60px;
        position: fixed;
        pointer-events: none;
        backface-visibility: hidden;
        top: -60px;
        left: 0;
        border-radius: 50%;
        margin: -30px 0 0 -30px;
        box-shadow: 0 0 0 1px #ff6f61;
        opacity: .3;
        transform: translate3d(-100%,-100%,0);
        transition: transform 0.1s;
        will-change: transform;
    }
    &-svg {
        width: 60px;
        height: 60px;
        position: fixed;
        pointer-events: none;
        backface-visibility: hidden;
        width: 30px;
        height: 30px;
        margin: -15px 0 0 -15px;
        transform: translate3d(-100%,-100%,0);
    }
    &-click {
        position: fixed;
        will-change: transform;
        pointer-events: none;
        backface-visibility: hidden;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: -40px 0 0 -40px;
        mix-blend-mode: difference;
        color: #ff6f61;
        transform: translate3d(-100%,-100%,0);
        .inner {
            background: #ff6f61;
            transform: scale(.3);
            opacity: 0;
            width: 80px;
            height: 80px;
            transition: transform 0.1s, opacity 0.1s;
            border-radius: 50%;
        }
    }
    &.dark {
        .onHover {
            color: #000;
        }
        .cursor-circle {
            box-shadow: 0 0 0 1px #000;
        }
        .cursor-click .inner {
            background: #000;
        }
    }
    &.touchClass {
        .cursor-circle {
            box-shadow: 0 0 0 1.5px rgb(249, 37, 59);
            background-color: rgba(249, 37, 59, 0.2)
        }
    }
}
