.radio input[type='radio'] + label::after {
    top: 12px;
}
textarea {
    resize: none;
}
.textarea, .input, .select, .button {
    border-radius: 0;
    margin-bottom: 0;
}
.form-group {
    margin-bottom: 20px;
    @include media-breakpoint-up(md){
        margin-bottom: 45px;
    }
}
.textarea, .input, .select {
    transition: all 0.5s;
    &:hover {
        border-color: $c-primary;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.file-input {
    position: relative;
    display: inline-block;
	cursor: none !important;
    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
		cursor: none !important;
		&:hover {
			cursor: none;
		}
    }
}

.input {
    font-size: 20px;
    border: none;
    font-family: 'PT Mono';
    outline: none;
    padding: 20px 0;
    position: relative;
    width: 100%;
    color: $white;
    background-color: transparent;
    // border-bottom: 1px solid $c-error;
    @include media-breakpoint-up(md){
        font-size: 30px;
        padding: 30px 0 10px;
    }
    &::placeholder {
        color: $white;
    }
}


.input__field {
	position: relative;
	display: block;
	cursor: none;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #fff;
	font-weight: 400;
	-webkit-appearance: none;
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #fff;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

/* Nao */
.input--nao {
	overflow: hidden;
	padding-top: 1em;
}

.input__field--nao {
	padding: 0.5em 0em 0.25em;
	width: 100%;
	background: transparent;
	color: #fff;
	font-size: 1.25em;
}

.input__label--nao {
	position: absolute;
	top: 0.95em;
	font-size: 0.85em;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	transform-origin: 0 0;
	transition: transform 0.2s 0.15s, color 1s;
	transition-timing-function: ease-out;
}

.graphic--nao {
	stroke: #ff6f61;
	pointer-events: none;
	transition: transform 0.7s, stroke 0.7s;
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
	stroke: #ff6f61;
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: #ff6f61;
	transform: translate3d(-66.6%, 0, 0);
}
