.header {
  padding: 15px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  @include media-breakpoint-up(md) {
    padding: 20px 40px 20px;
  }


  //img {
  //    height: 20px;
  //    @include media-breakpoint-up(md){
  //        height: 30px;
  //    }
  //}
  .row {
    //width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  a {
    text-decoration: none;
    //cursor: pointer;
    &:hover {
      color: rgba(black, 0.8);
    }
  }


  @media screen and (max-width: 1700px) {
    background-color: $white;
    //transition: background-color 0.2s;
    //transition-delay: 0.05s;
    &.dark {
      background-color: $primary-color;
    }
    //&.active {
    //  background-color: transparent !important;
    //}
  }
}

.main.darkTheme {
  @media screen and (max-width: 1700px) {
    .header {
      background-color: $primary-color;
    }
  }
}

.main {
  @media screen and (max-width: 1700px) {
    // set background to the header. depends on case
    &.rubl-case:not(.page-exit) {
      .header {
        background-color: #0e0e0e;
      }
    }
    &.ladoga-case:not(.page-exit) {
      .header {
        background-color: #0C161D;
      }
    }
    &.mmz-case:not(.page-exit) {
      .header {
        background-color: #ff656d;
      }
    }
  }
}

.page-enter-active {
  .header {
    background-color: transparent;
  }
}

.opg {
  display: none;
}

.header-link {
  color: #1d1d1f;
  font-family: "PT Mono";
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  //cursor: pointer;
  @include media-breakpoint-up(sm) {
    letter-spacing: 3px;
    padding: 20px 0;
  }
  @include media-breakpoint-up(md) {
    letter-spacing: 6.4px;
  }

  &:before {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #1d1d1f;
    margin-right: 12px;
  }

  &.active {
    color: white;
    &:hover {
      color: white;
    }
    &:before {
      background-color: white;
    }
  }
  .revert {
    &:before {
      display: none;
    }

    &:after {
      content: '';
      width: 20px;
      height: 2px;
      background-color: white;
      margin-left: 12px;
    }
  }
}


.flip-card {
  position: relative;
  transition: all .3s ease;
  perspective: 800px;

  &-inner {
    position: relative;
    width: 150px;
    height: 30px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    @include media-breakpoint-up(sm) {
      width: 200px;
    }
    @include media-breakpoint-up(md) {
      height: 40px;
    }
  }

  &:hover,
  &.active {
    .flip-card-inner {
      transform: rotateY(180deg);
    }
  }

  &-front, &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: #ffffff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: background-color .2s;
    //transition-delay: 0.1s;
  }

  &.dark .flip-card-back,
  &.dark .flip-card-front {
    //background-color: #0815b7;
  }

  &-back {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    text-align: left;
  }
}
