@keyframes fadeIm-1
{
    from    { opacity: 1; }
    16%     { opacity: 1; }
    25%     { opacity: 0; }
    91%     { opacity: 0; }
    to      { opacity: 1; }
}
 
@keyframes fadeIm-2
{
    from    { opacity: 0; }
    16%     { opacity: 0; }
    33%     { opacity: 1; }
    55%     { opacity: 1; }
    60%     { opacity: 0; }
    to      { opacity: 0; }
}
 
@keyframes fadeIm-3
{
    from    { opacity: 0; }
    55%     { opacity: 0; }
    66%     { opacity: 1; }
    91%     { opacity: 1; }
    to      { opacity: 0; }
}
 
.div-style
{
    position: relative;
}
 
.img-style {
    // width: 33.3%;
    // margin-top: 8px;
    // border: 1px solid #0000ff;
     
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
 
.img-style.next
{
    position: absolute;
    left: 0;
    opacity: 0;
}
 
.img-style.im-1
{ 
    animation-name: fadeIm-1;
}
 
.img-style.next.im-2
{ 
    animation-name: fadeIm-2;
}
 
.img-style.next.im-3
{
    animation-name: fadeIm-3;
}
 