// list with checkmarks
.list-check {
    &,
    & > li {
        list-style: none;
    }
    & > li {
        position: relative;
        padding-left: 21px;
    }
}

.list-nav {
    &,
    & > li {
        @include clearListStyle();
        display: inline-block;
    }
}

.rte ul,
.rte ol {
    margin-bottom: $text-white-space;
}
