.menu {
  margin: 0;
  padding: 0;

  &-item {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 28px;
    line-height: 1.2;
    @include media-breakpoint-up(md){
      line-height: 1.4;
      font-size: 40px;
    }
    @include media-breakpoint-up(lg){
      font-size: 50px;
    }

    &:hover {
      > .menu-link {
        color: white;

        &::before {
          transform: translate3d(100%,0,0) translate3d(1px,0,0);
        }
        &::after {
          transform: translate3d(0,0,0);
        }
      }
    }
  }

  &-link {
    position: relative;
    display: inline-block;
    color: $white;
    text-decoration: none;
    overflow: hidden;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $c-error;
      transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
      transition: transform 0.7s;
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
    &::after {
      top: 88%;
      height: 2px;
    }

    &.active {
      color: $white;
      &::before {
        transform: translate3d(100%,0,0) translate3d(1px,0,0);
      }
      &::after {
        transform: translate3d(0,0,0);
      }
    }
  }
  &-vertical {
    display: block;
    text-align: center;
    .menu-link {
      padding: 8px 0;
    }
  }
}

.navigation {
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 989;
  overflow: hidden;
  transform: translate(100%,0);
  visibility: hidden;
  transition: visibility 0s linear 666ms,transform 0s linear 666ms;
  .header {
    background-color: transparent !important;
  }
  a {
    color: $white;
    &:hover {
      color: rgba($white, 0.5);
    }
  }
  .linkto a {
    text-decoration: none;
    position: relative;

    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      content: '';
      opacity: 0;
      transition: opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      transform: translateY(10px);
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: translateY(0px);
    }
    &:hover {
      color: #fff;
    }
  }
  &-main {
    margin-top: auto;
    margin-bottom: auto;
  }
  &-footer {
    margin-top: auto;
  }
  b {
    @include media-breakpoint-up(md){
      line-height: 2;
    }
    + b {
      font-family: "PT Mono";
      line-height: 1.2;
      @include media-breakpoint-up(md){
        line-height: 1.5;
      }
    }
  }
  &-copy {
    line-height: 0.7;
    span {
      position: relative;
      top: -2px;
    }
  }
  &-logo {
    img {
      width: 81px;
    }
  }
  &-soc {
    padding: 0;
    line-height: 2;
    list-style-type: none;
  }
  .flex {
    margin-top: 15px;
    margin-bottom: 17px;
  }

  &-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transform: translate(0,100%);
    transition: transform 666ms cubic-bezier(.666,0,.666,.976);
    padding-top: 50px;
    padding-bottom: 10px;

    @include media-breakpoint-up(sm){
      padding-bottom: 50px;
    }

    > .container {
      display: flex;
      flex-direction: column;
    }
  }

  &-background {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate(0,-100%);
    transition: transform 666ms cubic-bezier(.666,0,.666,.976);
    background: url("/assets/images/sign_3.svg") no-repeat center right, $primary-color;
  }
}

.contacts-info {
  .navigation {
    transform: none;
    visibility: visible;
    transition: none;

    > .container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}


.showMenu {
  .navigation {
    visibility: visible;
    transform: translate(0,0);
    transition: visibility 0s linear,transform 0s linear;
  }
  .navigation-content {
    transform: translate(0,0);
    transition: transform 666ms cubic-bezier(.666,0,.666,.976) 222ms;
  }
  .navigation-background {
    transform: translate(0,0);
    transition: transform 666ms cubic-bezier(.666,0,.666,.976) 222ms;
  }
}
