
.absolute100 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ratio {
  //flex: 1 1 auto;
  position: relative;
  &:before {
    display: block;
    content: '';
  }
  .content-ratio {
    @extend .absolute100;
  }
}

.ratio-reset {
  &:before {
    display: none;
  }
  .content-ratio {
    position: static;
  }
}

.ratio-1_1 {
  @extend .ratio;
  &:before {
    padding-top: 100%;
  }
}

.ratio-1_1_md {
  @include media-breakpoint-up(md) {
    position: relative;
    &:before {
      display: block;
      content: '';
    }
    .content-ratio {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &:before {
      padding-top: 100%;
    }
  }
}
