.popup-container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    color: white;
    background: $primary-color;
    box-sizing: border-box;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transform: scale3d(0.3, 0.3, 0.3);
    animation-name: showMe;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0, 0, 0.25, 1); // ease-out
    animation-delay: 0.001s;
    animation-fill-mode: forwards;
    //overflow-y: auto;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.15);

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        margin-bottom: auto;
        > * {
            margin: 0;
        }
    }

    .close {
        background-color: transparent;
        border: 0;
        outline: none;
        font-size: 25px;
        padding: 0;
        width: 25px;
        margin-left: auto;
        position: absolute;
        top: -35px;
        right: -35px;
    }

    h4, h5 {
        margin-top: 0;
        margin-bottom: 0;
    }

    &-body {
        padding: 1.5rem;
        width: 100%;
        margin: auto;
    }
    &-buttons {
        margin-top: 20%;
    }
}

.pad15 {
    padding: 1.5rem;
}
.h100 {
    height: 100%;
}
