//
// Modules -> Visibility utilities
// --------------------------------------------------

@include responsive-invisibility('.visible-xs');
@include responsive-invisibility('.visible-sm');
@include responsive-invisibility('.visible-md');
@include responsive-invisibility('.visible-lg');
@include responsive-invisibility('.visible-xl');

@media screen and (max-width: $screen-xs-max) {
  @include responsive-visibility('.visible-xs');
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-visibility('.visible-sm');
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-visibility('.visible-md');
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  @include responsive-visibility('.visible-lg');
}

@media screen and (min-width: $screen-xl-min) {
  @include responsive-visibility('.visible-xl');
}

@media screen and (max-width: $screen-xs-max) {
  @include responsive-invisibility('.hidden-xs');
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-invisibility('.hidden-sm');
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-invisibility('.hidden-md');
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  @include responsive-invisibility('.hidden-lg');
}

@media screen and (min-width: $screen-xl-min) {
  @include responsive-invisibility('.hidden-xl');
}
