.tabs {
    position: relative;
    &-item {
        //cursor: pointer;
    }
}
//
//.tab {
//    &-list {
//        padding: 0;
//        list-style-type: none;
//        text-align: center;
//        display: flex;
//        align-items: center;
//        flex-wrap: wrap;
//        justify-content: center;
//        z-index: 99;
//        h5 {
//            font-size: 16px;
//            margin-bottom: 0;
//            @media only screen and (min-width: $screen-tablet) {
//                margin-bottom: 20px;
//                font-size: 20px;
//            }
//        }
//        li {
//            padding: 1px 20px;
//            width: 33%;
//            &:not(.clientType-item) {
//                width: 100%;
//            }
//            @media only screen and (min-width: $screen-tablet) {
//                width: 100%;
//            }
//        }
//        &-item > i {
//            font-size: 30px !important;
//            @media only screen and (min-width: $screen-tablet) {
//                font-size: 50px !important;
//            }
//            @media only screen and (min-width: $screen-desktop) {
//                font-size: 72px !important;
//            }
//        }
//        &-active.clientType-item {
//            i, p {
//                color: $white !important;
//            }
//            color: $white !important;
//            background: $orange !important;
//        }
//    }
//
//    &-content {
//        width: 100%;
//        @media only screen and (min-width: $screen-tablet) {
//            width: 69%;
//            float: right;
//        }
//        @media only screen and (min-width: $screen-desktop) {
//            width: 76%;
//        }
//        @media only screen and (min-width: $screen-xl-desktop) {
//            width: 85%;
//        }
//        @media only screen and (min-width: 1600px) {
//            width: 100%;
//            float: none;
//        }
//    }
//}
