
// Variables


////- Variables -> Base
$font-family-base:                    "CirceRegular", Arial, sans-serif !default;
$base-font-family-serif:              "PT Mono", serif !default;
$font-size-base:                      16px !default;
$font-weight-base:                    400 !default;
$line-height-base:                    1.471 !default;
$body-color:                          $white !default;
$body-bg:                             $black !default;
$text-white-space:                     1rem;

//- Link
$link-color:                          #393939;
$link-hover-color:                    #7cab3d;
$link-decoration:                     underline;
$link-hover-decoration:               none;


//- Variables -> Typography
$font-size-large:                     ceil(($font-size-base * 1.375)) !default; // ~18px
$font-size-medium:                    ceil(($font-size-base * 0.875)) !default; // ~14px
$font-size-small:                     ceil(($font-size-base * 0.75)) !default; // ~12px
$font-size-tiny:                      ceil(($font-size-base * 0.6875)) !default; // ~11px

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .6875) !default;
$font-size-md:                ($font-size-base * 1.125) !default;

$h1-font-size:                85px !default;
$h2-font-size:                $font-size-base * 3.125 !default; // 50
$h3-font-size:                $font-size-base * 2.6875 !default; // 43px
$h4-font-size:                $font-size-base * 2.5 !default; // 40px
$h5-font-size:                $font-size-base * 1.25 !default; // 20px
$h6-font-size:                $font-size-base !default;




// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
    (
            0: 0,
            1: ($spacer * .25),
            2: ($spacer * .5),
            3: $spacer,
            4: ($spacer * 1.5),
            5: ($spacer * 3)
    ),
    $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
    (
            25: 25%,
            50: 50%,
            75: 75%,
            100: 100%,
            auto: auto
    ),
    $sizes
);


$headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        300 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

$lead-font-size:              ($font-size-base * 1.25) !default;
$lead-font-weight:            300 !default;
$small-font-size:             80% !default;

$mark-padding:                .2em !default;
$mark-bg:                     #fcf8e3 !default;
$hr-margin-y:                 $spacer !default;

$list-inline-padding:         .5rem !default;
$blockquote-small-color:      $gray-600 !default;
$blockquote-small-font-size:  $small-font-size !default;
$blockquote-font-size:        ($font-size-base * 1.25) !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

//
$headings-margin-bottom:              floor(($font-size-base * $line-height-base)); // ~22px
$line-height-computed:                floor(($font-size-base * $line-height-base)); // ~22px
$paragraph-margin-bottom:             floor(($font-size-base * $line-height-base) / 2); // ~11px
$line-height-computed-half:           floor(($font-size-base * $line-height-base) / 2); // ~11px
//
$headings-font-family:                "Open Sans", Arial, sans-serif !default;
$headings-font-weight:                900 !default;
$dt-font-weight:                      600 !default;
$headings-line-height:                1.2 !default;
$headings-color:                      inherit !default;
//
//
////- Grid
$screen-sm:                           480px;
$screen-sm-min:                       $screen-sm;
$screen-phone:                        $screen-sm-min;

$screen-md:                           768px;
$screen-md-min:                       $screen-md;
$screen-tablet:                       $screen-md-min;

$screen-lg:                           992px;
$screen-lg-min:                       $screen-lg;
$screen-desktop:                      $screen-lg-min;

$screen-xl:                           1300px;
$screen-xl-min:                       $screen-xl;
$screen-xl-desktop:                   $screen-xl-min;

$screen-xs-max:                       ($screen-sm-min - 1) !default;
$screen-sm-max:                       ($screen-md-min - 1) !default;
$screen-md-max:                       ($screen-lg-min - 1) !default;
$screen-lg-max:                       ($screen-xl-min - 1) !default;
//
//$screen-adaptive-nav:                 $screen-md-min;


$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;


$text-muted:                  $gray-600 !default;
$ease-out-quint : ease-in-out;
$padding-large-horizontal: 2rem;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1080px,
        xl: 1380px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

$bg-color: $white;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary-color !default;

$caret-width:                 .3em !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;
$input-btn-font-size:         $font-size-base !default;
$input-btn-line-height:       $line-height-base !default;

$input-btn-focus-width:       .2rem !default;
$input-btn-focus-color:       rgba($component-active-bg, .25) !default;
$input-border-focus:       rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-font-size-sm:      $font-size-sm !default;
$input-btn-line-height-sm:    $line-height-sm !default;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;
$input-btn-font-size-lg:      $font-size-lg !default;
$input-btn-line-height-lg:    $line-height-lg !default;

$input-btn-border-width:      $border-width !default;



// Main

$label-margin-bottom:                   .5rem !default;

$input-padding-y:                       $input-btn-padding-y !default;
$input-padding-x:                       $input-btn-padding-x !default;
$input-font-size:                       $input-btn-font-size !default;
$input-line-height:                     $input-btn-line-height !default;

$input-padding-y-sm:                    $input-btn-padding-y-sm !default;
$input-padding-x-sm:                    $input-btn-padding-x-sm !default;
$input-font-size-sm:                    $input-btn-font-size-sm !default;
$input-line-height-sm:                  $input-btn-line-height-sm !default;

$input-padding-y-lg:                    $input-btn-padding-y-lg !default;
$input-padding-x-lg:                    $input-btn-padding-x-lg !default;
$input-font-size-lg:                    $input-btn-font-size-lg !default;
$input-line-height-lg:                  $input-btn-line-height-lg !default;

$input-bg:                              $white !default;
$input-disabled-bg:                     $gray-200 !default;

$input-color:                           $gray-700 !default;
$input-border-color:                    $gray-400 !default;
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      inset 0 1px 1px rgba($black, .075) !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm:                $border-radius-sm !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              lighten($component-active-bg, 25%) !default;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               $gray-600 !default;
$input-plaintext-color:                 $body-color !default;

$input-height-border:                   $input-border-width * 2 !default;

//$input-height-inner:                    ($input-btn-font-size * $input-btn-line-height) + ($input-btn-padding-y * 2) !default;
//$input-height:                          calc(#{$input-height-inner} + #{$input-height-border}) !default;
//
//$input-height-inner-sm:                 ($input-btn-font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2) !default;
//$input-height-sm:                       calc(#{$input-height-inner-sm} + #{$input-height-border}) !default;
//
//$input-height-inner-lg:                 ($input-btn-font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2) !default;
//$input-height-lg:                       calc(#{$input-height-inner-lg} + #{$input-height-border}) !default;

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;


$hr-border-color:             rgba($black, .1) !default;
$hr-border-width:             $border-width !default;
