.about {
    padding: 50px 0;
    color: $white;
    background-color: $primary-color;
    @include media-breakpoint-up(md){
        padding: 130px 0;
    }
    @include media-breakpoint-up(lg){
        padding: 170px 0 70px;
    }
    @include media-breakpoint-up(xl){
        padding: 170px 0;
    }
    .awards {
        margin-bottom: 20px;
        @include media-breakpoint-up(md){
            margin-top: 90px;
            margin-bottom: 120px;
        }
    }
    h2 {
        margin-top: 0;
    }
}

.aboutPico {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
    @include media-breakpoint-up(md){
        margin: 80px 0;
    }
    @include media-breakpoint-up(lg){
        margin: 80px 0 240px;
    }
    &-img {
        height: 142px;
        margin-bottom: 20px;
        position: relative;
        display: flex;
        align-items: flex-end;
        @include media-breakpoint-up(md){
            margin-bottom: 50px;
        }
        span {
            position: absolute;
            z-index: 9;
        }
        img {
            vertical-align: bottom;
        }
    }
    &-icons {
        position: relative;
        width: 100%;
    }
    &-item {
        width: 48%;
        &:nth-child(3),
        &:nth-child(2) {
            width: 45%;
        }
        @include media-breakpoint-up(md){
            width: 24%;
            &:nth-child(3),
            &:nth-child(2) {
                width: 22%;
            }
        }
        @include media-breakpoint-up(lg){
            width: 186px;
            &:nth-child(3),
            &:nth-child(2) {
                width: 166px;
            }
        }
        &:first-child {
            .aboutPico-icons {
                img {
                    &:first-child {
                        width: 25px;
                        position: absolute;
                        left: 82px;
                        top: 0;
                        z-index: 0;
                        @include media-breakpoint-up(md) {
                            width: 37px;
                        }
                    }
                    &:last-child {
                        position: relative;
                        z-index: 1;
                    }
                }
            }
        }
        &:nth-child(2) {
            .aboutPico-img span {
                top: 50px;
            }
            .aboutPico-icons {
                img {
                    &:first-child {
                        position: relative;
                        z-index: 1;
                    }
                    &:last-child {
                        position: absolute;
                        left: 38px;
                        top: 0;
                        z-index: 0;
                        @include media-breakpoint-up(md) {
                            width: 113px;
                        }
                    }
                }
            }
        }
        &:nth-child(3) {
            .aboutPico-img span {
                top: 88px;
            }
            .aboutPico-icons {
                img {
                    &:first-child {
                        position: relative;
                        z-index: 1;
                    }
                    &:last-child {
                        width: 48px;
                        position: absolute;
                        left: 86px;
                        top: 0;
                        z-index: 0;
                        @include media-breakpoint-up(md) {
                            width: 64px;
                        }
                    }
                }
            }
        }
        &:last-child {
            .aboutPico-img span {
                top: 80px;
                left: 90px;
            }
            .aboutPico-icons {
                img {
                    &:first-child {
                        position: relative;
                        z-index: 1;
                    }
                    &:last-child {
                        width: 20px;
                        position: absolute;
                        left: 105px;
                        top: 34px;
                        z-index: 0;
                        @include media-breakpoint-up(md) {
                            left: 125px;
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}

.aboutBitrix {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    @include media-breakpoint-up(md){
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 60px;
    }
    @include media-breakpoint-up(lg){
        height: 656px;
        margin-bottom: 160px;
    }
    &-txt {
        font-size: 30px;
        margin: 20px 0;
        width: 100%;
        @include media-breakpoint-up(md){
            font-size: 35px;
            width: 50%;
            margin: 100px 0;
        }
        @include media-breakpoint-up(lg){
            width: auto;
        }
    }
    &-icon {
        position: absolute;
        height: 100%;
        right: 30px;
        z-index: 9;
    }
    &-img {
        z-index: 8;
        padding-top: 34px;
        display: inline-block;
        @include media-breakpoint-up(md){
            position: absolute;
            right: 0;
            &:after {
                content: '';
                position: absolute;
                right: 99%;
                width: 400%;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 81px;
                background-color: #ff6f61;
            }
        }
    }
}

.aboutSite {
    padding-bottom: 50px;
    @include media-breakpoint-up(md){
        padding-bottom: 40px;
    }
    @include media-breakpoint-up(lg){
        padding-bottom: 150px;
    }
    .faqLink {
        margin-top: 80px;
    }
    &-list {
        list-style-type: none;
        margin: 40px 0;
        @include media-breakpoint-up(lg){
            margin: 100px 0;
        }
        li {
            position: relative;
            font-family: "PT Mono";
            padding-left: 20px;
            font-size: 18px;
            margin-bottom: 20px;
            @include media-breakpoint-up(lg){
                padding-left: 100px;
                margin-bottom: 60px;
            }
            &:before {
                content: '.';
                color: #6770e2;
                font-family: "PT Mono";
                font-size: 25px;
                line-height: 0.6;
                left: 0;
                position: absolute;
            }
        }
    }
}
