.approach {
  overflow: hidden;
  padding-top: 100px;
  color: $white;
  background: url("/assets/images/sign_3.svg") no-repeat top right / auto 400px, $primary-color;

  @include media-breakpoint-up(md){
    padding-top: 180px;
    background: url("/assets/images/sign_3.svg") no-repeat top right / auto 620px, $primary-color;
  }
  h4 {
    margin-top: 0;
    font-size: 25px;
    font-family: "PT Mono";
    @include media-breakpoint-up(md){
      font-size: 30px;
    }
    @include media-breakpoint-up(lg){
      font-size: 39px;
    }
  }
}

.approachTarget {
  margin-bottom: 100px;
  padding-top: 130px;
  position: relative;
  z-index: 9;
  @include media-breakpoint-up(md){
    padding-left: 90px;
    padding-top: 100px;
  }
  @include media-breakpoint-up(lg){
    padding-left: 250px;
    padding-top: 160px;
  }
  @include media-breakpoint-up(xl){
    padding-left: 400px;
    margin-bottom: 250px;
  }

  &-img {
    width: 80vw;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    @include media-breakpoint-up(md){
      width: 50vw;
    }
    @include media-breakpoint-up(lg){
      width: 500px;
    }
    @include media-breakpoint-up(xl){
      width: 750px;
    }
  }

  &-icon2,
  &-icon1 {
    width: 55px;
    position: absolute;
  }
  &-icon1 {
    right: -55px;
    top: -55px;
  }
  &-icon2 {
    left: -28px;
    bottom: 19px;
  }
}

.approachBack {
  position: absolute;
  left: 0;
  top: 53%;
  z-index: 0;
  width: 50vw;
  @include media-breakpoint-up(lg){
    top: 47%;
  }
  @include media-breakpoint-up(xl){
    width: 961px;
  }
}

.approachPower {
  margin-bottom: 50px;
  position: relative;
  z-index: 9;
  @include media-breakpoint-up(lg){
    margin-bottom: 150px;
    margin-left: 100px;
  }

  &-img {
    width: 77vw;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    @include media-breakpoint-up(sm){
      width: 55vw;
    }
    @include media-breakpoint-up(md){
      width: 40vw;
      margin-bottom: 0;
      padding-top: 50px;
    }
    @include media-breakpoint-up(lg){
      width: 530px;
      padding-top: 0;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 50px;
      left: 100%;
      width: 300%;
      height: 5px;
      background-color: $c-error;
    }
  }
}

.approachPowerList {
  position: relative;
  padding-bottom: 50px;
  z-index: 9;
  @include media-breakpoint-up(lg){
    margin-left: 100px;
  }

  &-item {
    margin-bottom: 20px;
    @include media-breakpoint-up(md){
      margin-bottom: 50px;
    }
    @include media-breakpoint-up(lg){
      margin-bottom: 100px;
      padding-right: 50px;
    }
    @include media-breakpoint-up(xl){
      padding-right: 150px;
    }
  }

  h2 {
    margin-bottom: 30px;
  }

  p {
    font-family: "PT Mono";
    font-size: 18px;
  }
}

.approachCharges {
  margin-bottom: 50px;
  padding-top: 100px;
  padding-left: 50px;
  position: relative;
  z-index: 9;
  @include media-breakpoint-up(md){
    padding-left: 100px;
    margin-bottom: 140px;
  }
  @include media-breakpoint-up(lg){
    padding-left: 200px;
  }
  @include media-breakpoint-up(xl){
    margin-bottom: 250px;
    padding-top: 150px;
  }

  &-img {
    left: 0;
    top: 0;
    width: 90vw;
    position: absolute;
    z-index: -1;
    @include media-breakpoint-up(xl){
      width: 59vw;
    }
  }

  &-icon1 {
    top: -42px;
    left: 95px;
    width: 85px;
    position: absolute;
  }

  &-icon2 {
    bottom: -26px;
    right: 75px;
    width: 50px;
    position: absolute;
  }

  &-icon3 {
    bottom: -40px;
    left: 20px;
    width: 57px;
    position: absolute;
    @include media-breakpoint-up(md){
      bottom: 0;
    }
  }

  &-icon4 {
    top: 80px;
    left: -100px;
    width: 70px;
    position: absolute;
  }

  &-icon5 {
    top: -42px;
    right: 300px;
    width: 50px;
    position: absolute;
  }
}

.approachList {
  position: relative;
  z-index: 9;
  h2 {
    margin-bottom: 50px;
    @include media-breakpoint-up(xl){
      margin-bottom: 100px;
    }
  }
  &-item {
    //padding-left: 100px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    position: relative;
    font-family: "PT Mono";
    font-size: 22px;
    @include media-breakpoint-up(lg){
      padding-left: 72px;
    }
    @include media-breakpoint-up(xl){
      padding-bottom: 120px;
      margin-bottom: 60px;
    }
    span {
      border-bottom: 3px solid #626cec;
    }
  }

  .col-xl-5 {
    &:first-child {
      .approachList-item {
        background: url("/assets/images/approach/01.svg") no-repeat left bottom;
      }
    }

    &:nth-child(2) {
      .approachList-item {
        background: url("/assets/images/approach/02.svg") no-repeat left bottom;
      }
    }

    &:nth-child(3) {
      .approachList-item {
        background: url("/assets/images/approach/03.svg") no-repeat left bottom;
      }
    }

    &:last-child {
      .approachList-item {
        background: url("/assets/images/approach/04.svg") no-repeat left bottom;
      }
    }
  }
}
