.awards {
    margin: 40px 0;
    position: relative;
    @include media-breakpoint-up(md) {
        margin: 80px 0;
        padding-bottom: 120px;
    }
    @include media-breakpoint-up(xl){
        margin: 180px 0 120px;
        padding-bottom: 150px;
    }
    &-left {
        margin-top: -5px;
        > p {
            margin-bottom: 35px;
        }
    }
    &-hand {
        margin-left: -50px;
        width: 200px;
        max-width: inherit;
        @include media-breakpoint-up(md) {
            margin-left: -20px;
            width: 150px;
        }
        @media screen and (min-width: 1000px) {
            margin-left: -50px;
            width: 200px;
        }
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #ffffff;
        @include media-breakpoint-up(lg) {
            border-right: 1px solid #ffffff;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 20px;
            margin-bottom: 30px;
        }
        &_item {
            @extend .col-xs-12;
            @extend .col-md-6;
            @extend .col-lg-4;
            @extend .ratio-1_1_md;
            &.borders {
                border-left: 1px solid #ffffff;
                border-bottom: 1px solid #ffffff;
                @include media-breakpoint-down(lg) {
                    border-right: 1px solid #ffffff;
                }
                .awards-list_icon {
                    width: 35px;
                }
            }
            .content-ratio {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px;
                @include media-breakpoint-up(md) {
                    padding: 20px;
                }
                @include media-breakpoint-up(lg) {
                    padding: 30px;
                }
            }
            &-list {
                @include media-breakpoint-down(md) {
                    order: 1;
                    max-width: 50%;
                    font-size: 14px;
                }
                @include media-breakpoint-up(md) {
                    > div {
                        position: absolute;
                        top: 0;
                        left: 30px;
                    }
                }
                p {
                    margin-top: 40px;
                }
            }
            &-title {
                color: #6770E2;
            }
        }
        &_header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            @include media-breakpoint-up(md) {
                margin-bottom: 0;
            }
        }
        &_num {
            font-size: 105px;
            line-height: 0.8;
            font-family: 'CirceBold';
            display: flex;
            span {
                top: -12px;
                position: relative;
                font-size: 15px;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
            }
        }
        &_title {
            font-size: 62px;
            line-height: 101.3%;
            font-family: 'CirceBold';
            @include media-breakpoint-up(md) {
                font-size: 47px;
            }
            @include media-breakpoint-up(xl) {
                font-size: 62px;
            }
        }
        &_desc {
            @media screen and (max-width: 374px) {
                font-size: 11px;
            }
        }
        &_icon {
            width: 40px;
        }
    }
    &-logo {
        position: absolute;
        left: 12px;
        bottom: 0;
        width: 109px;
        margin: auto;
        @include media-breakpoint-down(sm) {
            right: 12px;
        }
        @include media-breakpoint-up(md) {
            left: 29px;
            bottom: -32px;
            width: 70px;
        }
        //@include media-breakpoint-up(lg) {
        //    left: -10px;
        //    width: 80px;
        //}
        @media screen and (min-width: 1000px) {
            left: -22px;
            width: auto;
        }
    }
}
