@mixin setWhiteCardDesc() {
    .card-desc {
        color: $white;
        .button {
            color: $white;
        }
    }
}

.card {
    overflow: hidden;
    &-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15% 0;
        @include media-breakpoint-up(md){
            padding: 5% 0;
        }
        img {
            max-height: 50vh;
            @include media-breakpoint-up(lg){
                max-height: 80vh;
            }
        }
    }
    .button {
        margin-bottom: 50px;
        font-size: 14px;
        height: 46px;
        width: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-left: 20px;
        }
        &:before {
            display: none;
        }
    }
    &-line {
        position: relative;
        z-index: 9;
    }
    &-desc {
        padding: 50px 0;
        color: #353535;
        @include media-breakpoint-up(md){
            padding: 100px 0;
        }
        @include media-breakpoint-up(lg){
            padding: 180px 0;
        }
        h1 {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 1.2;
            font-size: 30px;
            font-family: CirceRegular;
            @include media-breakpoint-up(md){
                font-size: 72px;
            }
        }
        p {
            line-height: 1.58;
            font-size: 15px;
            margin-bottom: 0;
            font-family: 'CirceLight';
            @include media-breakpoint-up(md){
                font-size: 24px;
            }
        }
        .between-xs + .between-xs {
            margin-top: 90px;
        }
    }
    &-img {
        background-color: #f6f6f6;
        padding-top: 16vw;
        position: relative;
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;
            > * {
                width: 100%;
                @include media-breakpoint-up(md){
                    width: 27%;
                }
                > img {
                    margin-bottom: 30%;
                }
            }
        }
    }
    &-list {
        padding-top: 16vw;
        padding-bottom: 16vw;
    }
    &-back {
        padding-top: 16vw;
    }
    .decor {
        height: 11.8vw;
    }
    .whiteBack {
        position: relative;
        > img {
            position: relative;
            z-index: 1;
        }
        &:after {
            content: '';
            background-color: white;
            width: 200%;
            height: 6.3vw;
            position: absolute;
            bottom: 0;
            left: -50%;
            z-index: 0;
            @include media-breakpoint-up(md){
                height: 4.3vw;
            }
        }
    }
    .marg1t {
        margin-top: 4vw;
    }
    .marg-2t {
        margin-top: -8vw;
    }
    .marg2t {
        margin-top: 8vw;
    }
    .marg3t {
        margin-top: 16vw;
    }
    .marg3b {
        margin-bottom: 16vw;
    }
    .marg4b {
        margin-bottom: 25vw;
    }
    .marg1b {
        margin-bottom: 6vw;
    }
    .marg2b {
        margin-bottom: 12vw;
    }
    .pad1b {
        margin-bottom: 2vh;
    }
    .pad2t {
        margin-top: 6vh;
    }
    .pad3b {
        margin-bottom: 12vh;
    }
    .pad6b {
        margin-bottom: 30vh;
    }
    .img-comp {
        @include media-breakpoint-up(md){
            max-width: 80vw;
            position: absolute;
            right: -20%;
            bottom: -7%;
            bottom: -12%;
        }
    }
    .img-logo {
        position: relative;
        margin-top: -200%;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
        img {
            max-width: 48px;
            margin-bottom: 20px;
        }
        small {
            font-size: 16px;
        }
        &-item {
            width: 230px;
            margin-right: 100px;
        }
    }
}

.nextPage {
    display: block;
    padding: 20px 0;
    color: white;
    transition: opacity 0.5s;
    min-height: 30vh;
    @include media-breakpoint-down(sm){
        .container {
            width: 100%;
        }
    }
    @include media-breakpoint-up(md){
        padding: 40px 0;
    }
    @include media-breakpoint-up(lg){
        min-height: 34vw;
        padding: 80px 0;
    }
    img {
        max-width: 28vw;
        @include media-breakpoint-up(md){
            max-width: 18.5vw;
        }
    }
    h5 {
        font-size: 15px;
        font-family: "PT Mono";
        @include media-breakpoint-up(md){
            font-size: 1.4vw;
        }
    }
    h2 {
        font-size: 30px;
        @include media-breakpoint-up(md){
            font-size: 6.5vw;
        }
    }
    &:hover {
        opacity: 0.9;
    }
}

.relative {
    position: relative;
}

.sanfor {
    .nextPage {
        background-color: #eb3f42;
    }
    .style2 {
        width: 17vw;
        position: absolute;
        right: -9%;
        top: 14%;
    }
    .style3 {
        right: auto;
        top: auto;
        left: 5%;
        bottom: -26%;
        @include media-breakpoint-up(md){
            left: 1.1%;
            bottom: -31%;
        }
    }
}

.margauto {
    margin: auto;
}
.rubl {
    @include setWhiteCardDesc();
    color: $white;
    overflow: hidden;
    background: url('/assets/images/cases/rubl/mainBackground.jpg') no-repeat top center / 100% auto, #0e0e0e;
    .breadcrumbs {
        transform: rotate(0);
        &:before {
            display: none;
        }
    }
    .notfully {
        max-width: 90vw;
    }
    .style1 {
        display: block;
        margin-top: -32%;
    }
    .style2 {
        position: absolute;
        right: 0;
    }
    .style3 {
        position: absolute;
        left: 0;
    }
    .style4 {
        position: absolute;
        right: 0;
        width: 45vw;
        margin-top: 9%;
        z-index: 0;
    }
    .style5 {
        position: absolute;
        right: 97%;
        top: 40%;
    }
    .image {
        margin-left: -30px;
        text-align: center;
        img {
            width: 40vw;
        }
    }
    .img-right {
        margin-left: 8%;
        @include media-breakpoint-up(lg){
            margin-left: 20%;
        }
        @include media-breakpoint-up(xl){
            margin-left: 30%;
        }
    }
    .img-left {
        margin-left: -8%;
        @include media-breakpoint-up(lg){
            margin-left: -30%;
        }
    }
    .mainImg {
        margin-top: 20%;
    }
    .card-img {
        background-color: transparent;
    }
    .card {
        &-yearBlock {
            text-align: right;
            margin-top: 6%;
        }
        &-main {
            background-position: top center !important;
        }
    }
    .inner-block {
        background-color: #9e1e22;
        background-position: top 10% right -20%;
        background-size: 50vw auto;
        background-repeat: no-repeat;
        padding-top: 50px;
    }
    h2 {
        margin: 0;
        font-family: 'PT Mono';
        @include media-breakpoint-up(md){
            font-size: 6.5vw;
        }
    }
    h4 {
        @include media-breakpoint-up(md) {
            margin-bottom: 70px;
        }
    }
    h1 {
        font-family: 'CirceLight';
        @include media-breakpoint-up(md){
            font-size: 4.5vw;
        }
    }
    .nextPage {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mmz {
    //background: #ff656d;
    overflow: hidden;
    .card-main {
        background-position: top 11% center !important;
        img {
            max-height: inherit;
        }
    }
    &-inner {
        .col {
            + .col {
                margin-top: 40px;
            }
        }
        @include media-breakpoint-up(md) {
            margin: 100px auto 0;
            img {
                max-width: inherit;
            }
            .col {
                + .col {
                    margin-top: 0;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            //max-width: 80%;
        }
    }
    &-one {
        margin-top: 50px;
        padding-top: 20px;
        @include media-breakpoint-up(md) {
            margin-top: 300px;
            padding-top: 200px;
        }
    }
    iframe {
        height: 300px;
        @include media-breakpoint-up(md) {
            height: 900px;
        }
    }
    .style1 {
        @include media-breakpoint-up(md) {
            position: absolute;
            bottom: -65px;
            left: 0;
            right: 0;
        }
    }
    .style2 {
        @include media-breakpoint-up(md) {
            margin-left: -40px;
            max-width: 80%;
        }
    }
    .style3 {
        max-width: 140%;
    }
    .style4 {
        margin-top: 30px;
        @include media-breakpoint-up(md) {
            margin-top: 100px;
        }
    }
    .style5 {
        @include media-breakpoint-up(md) {
            margin-top: -50px;
        }
    }
    .style6 {
        @include media-breakpoint-up(md) {
            max-width: 70%;
        }
    }
    .style7 {
        @include media-breakpoint-up(md) {
            margin-top: -500px;
        }
    }
    &-white {
        padding-top: 50px;
        background-color: #f5f5f5;
        @include media-breakpoint-up(md) {
            padding-top: 250px;
        }
    }
    &-st {
        padding-top: 50px;
        @include media-breakpoint-up(md) {
            padding-top: 200px;
        }
    }
    &-bt {
        @include media-breakpoint-up(md) {
            margin-top: -90px;
        }
    }
    &-bg {
        position: relative;
        text-align: center;
        > * {
            position: relative;
            z-index: 10;
            max-width: 110%;
        }
        &:after {
            content: '';
            background-color: #f5f5f5;
            position: absolute;
            height: 400px;
            bottom: 0;
            left: -100%;
            right: -100%;
        }
    }
    &-wt {
        position: relative;
        padding-bottom: 50px;
        @include media-breakpoint-up(md) {
            padding-bottom: 400px;
        }
        > * {
            position: relative;
            z-index: 10;
        }
        @include media-breakpoint-up(md) {
            &:after {
                content: '';
                background-color: #fff;
                position: absolute;
                height: 800px;
                bottom: 0;
                left: -100%;
                right: -100%;
            }
        }
    }
    .nextPage {
        display: flex;
        align-items: center;
    }
}

.player .vp-title {
    display: none;
}

.peoplelove {
    background-color: #141414;
    @include setWhiteCardDesc();
    .container-long {
        padding-left: 20px;
        padding-right: 20px;
    }
    .card-main {
        text-align: center;
        .mainImg {
            margin-top: 80px;
            margin-bottom: 80px;
            @include media-breakpoint-up(lg) {
                margin-top: 40px;
                margin-bottom: 180px;
            }
        }
        img {
            max-height: inherit;
        }
    }
    .button--red {
        color: #ffffff;
        border: 2px solid #ffffff;
        background-color: transparent;
        margin-bottom: 40px;
    }
    .nextPage {
        color: #141414;
        //background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center right;
        background-color: #f1f1f1;
        background-size: auto 56%;
        @include media-breakpoint-up(md) {
            background-size: auto;
        }
    }
    .gif,
    .video {
        margin: 50px 0 20px;
        @include media-breakpoint-up(md) {
            margin: 50px 0;
        }
        @include media-breakpoint-up(lg) {
            margin: 150px 0;
        }
    }

    .pp-page {
        &-1 {
            .style1 {
                max-width: 80%;
                margin-bottom: 100px;
                @include media-breakpoint-up(md){
                    margin-bottom: 300px;
                }
                @include media-breakpoint-up(xl){
                    max-width: 90%;
                    margin-bottom: 400px;
                }
            }
            .img1 {
                position: relative;
                top: 50px;
                @include media-breakpoint-up(lg) {
                    top: 100px;
                }
                @include media-breakpoint-up(xl) {
                    top: 150px;
                }
            }
        }
        &-2 {
            padding-top: 100px;
            padding-bottom: 60px;
            @include media-breakpoint-up(md) {
                padding-top: 260px;
            }
            @include media-breakpoint-up(xl){
                padding-top: 460px;
                padding-bottom: 300px;
            }
            .style1 {
                margin-bottom: 60px;
                width: 30px;
                @include media-breakpoint-up(md) {
                    margin-bottom: 300px;
                    margin-right: 100px;
                }
                @include media-breakpoint-up(xl) {
                    margin-bottom: 560px;
                }
            }
        }
        &-3 {
            padding-bottom: 30px;
            @include media-breakpoint-up(md) {
                padding-bottom: 60px;
            }
            @include media-breakpoint-up(xl) {
                padding-bottom: 320px;
            }
            .style1 {
                max-width: 80%;
                @include media-breakpoint-up(xl){
                    max-width: 90%;
                }
            }
            .img1 {
                margin-top: 220px;
                margin-bottom: 50px;
                @include media-breakpoint-up(md) {
                    margin-top: 400px;
                    margin-bottom: 100px;
                }
                @include media-breakpoint-up(xl) {
                    margin-bottom: 330px;
                    margin-top: 1200px;
                }
            }
            .img2 {
                max-width: 90%;
            }
        }
        &-4 {
            @include media-breakpoint-up(xl) {
                padding-top: 230px;
            }
            .style1 {
                max-width: 80%;
                margin-bottom: 50px;
                @include media-breakpoint-up(md) {
                    margin-bottom: 150px;
                }
                @include media-breakpoint-up(xl){
                    max-width: 90%;
                    margin-bottom: 230px;
                }
            }
            .img3 {
                margin-top: 50px;
                @include media-breakpoint-up(md) {
                    margin-top: 150px;
                }
                @include media-breakpoint-up(xl) {
                    margin-top: 400px;
                }
            }
        }
        &-5 {
            .img2 {
                margin-top: 50px;
                @include media-breakpoint-up(md) {
                    margin-top: 150px;
                }
                @include media-breakpoint-up(xl) {
                    margin-top: 400px;
                }
            }
            .img3 {
                margin-bottom: 50px;
                @include media-breakpoint-up(md) {
                    margin-bottom: 150px;
                }
            }
            .img4 {
                @include media-breakpoint-up(xl){
                    max-width: 90%;
                }
            }
            .img5 {
                margin-top: 50px;
                margin-bottom: 50px;
                @include media-breakpoint-up(md) {
                    margin-top: 150px;
                    margin-bottom: 150px;
                }
                @include media-breakpoint-up(xl) {
                    margin-top: 350px;
                    margin-bottom: 350px;
                }
            }
        }
    }
}

.deka {
    &-main {
        width: 100%;
        img {
            width: 100%;
            margin-top: 50px;
            max-height: inherit;
            @include media-breakpoint-up(md) {
                margin-top: 200px;
            }
        }
    }
    &-grey {
        background-color: #F8F8F8;
    }
    .card-main {
        padding-top: 100px;
        background-position: center top !important;
        background-size: 100% auto !important;
        @include media-breakpoint-up(md) {
            padding-top: 300px;
        }
    }
    .card-desc {
        background-color: #F8F8F8;
    }
    .style1 {
        margin: 40px 0;
        @include media-breakpoint-up(md) {
            margin: 140px 0;
        }
    }
    .style2 {
        margin-top: 70px;
        margin-bottom: 50px;
        @include media-breakpoint-up(md) {
            margin-top: 250px;
            margin-bottom: 100px;
        }
    }
    .style3 {
        width: 100%;
    }
    .style4 {
        margin: 50px 0;
        @include media-breakpoint-up(md) {
            margin: 100px 0;
        }
    }
    .style5 {
        margin: 70px 0;
        @include media-breakpoint-up(md) {
            margin: 200px 0;
        }
    }
    .style6 {
        @include media-breakpoint-up(md) {
            max-width: none;
        }
    }
    .nextPage {
        display: flex;
        align-items: center;
    }
    iframe {
        height: 200px;
        @include media-breakpoint-up(md) {
            height: 700px;
        }
    }
}

video {
    vertical-align: middle;
}

$ladogaPad: 180px;
$ladogaPadMD: 100px;
$ladogaPadSM: 30px;
@mixin ladogaContainer() {
    padding: $ladogaPadSM 0;
    @include media-breakpoint-up(md) {
        padding: $ladogaPadMD 0;
    }
    @include media-breakpoint-up(lg) {
        padding: $ladogaPad 0;
    }
}

.ladoga {
    @include setWhiteCardDesc();
    background-color: #152029;
    .card-main {
        padding: 5%;
        img {
            max-height: inherit;
        }
    }
    .vh-section-full {
        min-height: 100vh;
    }
    &-dark {
        background-color: #0C161D;
        @include ladogaContainer();
    }
    &-medium {
        background-color: #152029;
        @include ladogaContainer();
    }
    &-copper {
        background-color: #251D10;
        @include ladogaContainer();
    }
    .style1 {
        margin-bottom: $ladogaPadSM;
        @include media-breakpoint-up(md) {
            margin-bottom: $ladogaPadMD;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: $ladogaPad;
        }
    }
    .style2 {
        margin-bottom: $ladogaPadSM * 0.8;
        @include media-breakpoint-up(md) {
            margin-bottom: $ladogaPadMD * 0.8;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: $ladogaPad * 0.8;
        }
    }
    .style3 {
        position: relative;
        @include media-breakpoint-up(md) {
            &:after {
                content: '';
                width: 200%;
                height: 1px;
                position: absolute;
                left: -50%;
                right: 0;
                z-index: 11;
                background-color: #EFC171;
                bottom: 104px;
            }
        }
        @include media-breakpoint-up(lg) {
            &:after {
                bottom: 117px;
            }
        }
        @include media-breakpoint-up(xl) {
            &:after {
                bottom: 141px;
            }
        }
    }
    .nextPage {
        color: #141414;
        background-color: rgb(241, 241, 241);
        display: flex;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h2 {
            line-height: 0.8;
        }
        img {
            max-width: 100%;
        }
    }
}

.eifman {
    &-dark {
        background-color: #0D0D0D;
    }
    &-medium {
        background-color: #AAA6A5;
    }
    &-copper {
        background-color: #DCD8D7;
    }
    .style1 {
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .style2 {
        margin-bottom: 160px;
    }
    .style3 {
        margin-top: 160px;
        margin-bottom: 90px;
    }
    .nextPage {
        color: #141414;
        background-color: #F1F1F1;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
        }
        h2 {
            font-size: 5vw;
        }
    }
}

.videoContainer {
    position: relative;
    padding-bottom: 53.25%;
    height: 0;
    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.pride {
    img {
        width: 100%;
    }
    .card-main {
        background-color: #D2CBC8;
        padding: 100px 0;
        text-align: center;
        @include media-breakpoint-up(md) {
            padding: 200px 0 300px;
        }
        img {
            max-height: inherit;
        }
        .container {
            width: 100%;
            padding: 0;
        }
    }
    &-main {

    }
    &-dark {
        background-color: #1F1E1D;
    }
    &-medium {
        background-color: #D2CBC8;
    }
    &-light {
        background-color: #F4F2F1;
    }
    .gif {
        width: 100%;
    }
    .style1 {
        padding: 80px 0;
        @include media-breakpoint-up(md) {
            padding: 300px 0 100px;
        }
    }
    .style2 {
        margin-bottom: 100px;
        @include media-breakpoint-up(md) {
            margin-bottom: 350px;
        }
    }
    .style3 {
        padding: 80px 0;
        @include media-breakpoint-up(md) {
            padding: 100px 0;
        }
    }
    .style4 {
        padding: 80px 0;
        @include media-breakpoint-up(md) {
            padding: 200px 0 100px;
        }
    }
    .style5 {
        padding: 80px 0;
        @include media-breakpoint-up(md) {
            padding: 200px 0;
        }
    }
    .style6 {
        padding: 80px 0;
        @include media-breakpoint-up(md) {
            padding: 400px 0 300px;
        }
    }
    .style7 {
        padding: 80px 0;
        @include media-breakpoint-up(md) {
            padding: 170px 0 100px;
        }
    }
    .style8 {
        margin-bottom: 90px;
    }
    .style9 {
        padding: 80px 0;
        @include media-breakpoint-up(md) {
            padding: 200px 0 250px;
        }
    }
    .style10 {
        position: relative;
        top: -80px;
        z-index: 9;
        @include media-breakpoint-up(md) {
            top: -180px;
        }
    }
    .style11 {
        margin-top: 80px;
        @include media-breakpoint-up(md) {
            margin-top: 150px;
        }
    }
    .style12 {
        padding: 80px 0;
        @include media-breakpoint-up(md) {
            padding: 300px 0 250px;
        }
    }
    .style13 {
        margin-bottom: 80px;
        @include media-breakpoint-up(md) {
            margin-bottom: 150px;
        }
    }
    .style14 {
        margin-bottom: 80px;
        @include media-breakpoint-up(md) {
            margin-bottom: 100px;
        }
    }

    .nextPage {
        color: #141414;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-position: center right;
        h2 {
            line-height: 0.99;
            @include media-breakpoint-up(md) {
                font-size: 4.8vw;
            }
        }
    }
}
