.catalog {
    //@extend .row;
    margin: 50px 0;
    position: relative;
    @include media-breakpoint-up(md){
        margin: 50px 0 100px;
    }
    @include media-breakpoint-up(xl){
        margin: 50px 0 150px;
        min-height: 1200px;
    }
    &-video {
        height: 40vw;
        @include media-breakpoint-up(md) {
            height: 480px;
        }
    }
    &-item {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        display: block;
        @include media-breakpoint-up(lg){
            margin-bottom: 40px;
        }
        &:hover {
            .catalog-link:before {
                right: 0;
                width: 100%;
                background-color: #ff6f61 !important;
            }
        }
    }
    &-back,
    &-back-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    &-inner {
        padding: 20px;
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 170px;
        position: relative;
        @include media-breakpoint-up(md){
            height: 480px;
            padding: 40px;
        }
        @include media-breakpoint-up(lg){
            padding: 80px;
        }
        @include media-breakpoint-up(xl){
            padding: 80px 12vw;
        }
        &.grey {
            .catalog {
                &-back {
                    background-position: center right !important;
                }
                &-description {
                    color: #1d1d1f;
                }
            }
        }
        &.black {
            @include media-breakpoint-down(md) {
                padding-bottom: 0;
            }
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: relative;
            @include media-breakpoint-up(lg) {
                align-items: center;
                justify-content: flex-start;
            }
            .catalog-image {
                max-width: 90%;
                @include media-breakpoint-up(lg) {
                    //max-width: inherit;
                    position: absolute;
                    bottom: 0;
                    right: 50px;
                    max-width: 53%;
                }
                @include media-breakpoint-up(xl) {
                    right: 100px;
                    max-width: 90%;
                }
            }
            .catalog {
                &-description {
                    color: $white;
                }
                &-title {
                    color: $white;
                }
                &-link {
                    color: $white;
                    &:before {
                        background-color: $white;
                    }
                }
            }
            .slide__image-wrapper {
                @include media-breakpoint-up(lg) {
                    position: absolute;
                    right: 0;
                    height: 100%;
                }
            }
            .catalog-back {
                animation-name: scale;
                animation-duration: 6s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
        &.white {
            .catalog {
                &-description {
                    color: #1d1d1f;
                }
            }
        }

        &.filterGray {
            .catalog-back {
                animation-name: grayscale;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }

        &.dekaStyle {
            padding-right: 0;
            .catalog-right {
                width: 100%;
            }
        }
    }
    &-left {
        margin-left: 15px;
        margin-bottom: 20px;
        margin-top: 20px;
        position: relative;
        z-index: 1;
        @include media-breakpoint-up(md){
            margin-left: 100px;
            margin-bottom: 60px;
        }
        @include media-breakpoint-up(lg){
            margin-top: 30px;
            margin-bottom: 30px;
            width: 68%;
        }
        @include media-breakpoint-up(xl){
            width: 40%;
            margin-top: 0;
            margin-left: 0;
        }
    }
    &-right {
        text-align: center;
        width: 100%;
        position: relative;
        z-index: 1;
        @include media-breakpoint-up(xl){
            width: 60%;
            text-align: right;
        }
    }
    &-title {
        line-height: 1;
        margin-top: 12px;
        margin-bottom: 8px;
        font-family: CirceRegular;
        font-size: 20px;
        @include media-breakpoint-up(md){
            font-size: 50px;
            margin-top: 28px;
            margin-bottom: 28px;
        }
        @include media-breakpoint-up(xl){
            margin-top: 38px;
            margin-bottom: 58px;
        }
    }
    &-description {
        font-family: "PT Mono";
        color: #9e9e9e;
        font-size: 12px;
        @include media-breakpoint-up(md){
            font-size: 16px;
        }
    }
    &-link {
        color: #1d1d1f;
        font-family: "PT Mono";
        position: relative;
        font-size: 12px;
        display: inline-block;
        margin-left: 40px;
        @include media-breakpoint-up(md){
            font-size: 16px;
            margin-left: 0;
        }
        &:before {
            content: '';
            width: 30px;
            height: 2px;
            background-color: #1d1d1f;
            display: inline-block;
            transition: all 0.3s;
            position: absolute;
            right: calc(100% + 10px);
            top: 16px;
            @include media-breakpoint-up(md){
                top: 22px;
                right: calc(100% + 20px);
                width: 79px;
            }
        }
    }
}
.catalog-item,
.grid-sizer {
    width: 100%;
    //@include media-breakpoint-up(sm){
    //    width: 48%;
    //}
    //@include media-breakpoint-up(md){
    //    width: 30%;
    //}
}

//.gutter-sizer {
//    @include media-breakpoint-up(sm){
//        width: 4%;
//    }
//    @include media-breakpoint-up(md){
//        width: 5%;
//    }
//}


:root {
    --color-primary: #6B7A8F;
    --color-secondary: #101118;
    --color-accent: #1D1F2F;
    --color-focus: #6D64F7;
    --base-duration: 600ms;
    --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}


.slide {
    --x: 0;
    --y: 0;
    --d: 50;
    pointer-events: auto;
    user-select: auto;
    transition: opacity calc(var(--base-duration) / 2) var(--base-ease), transform calc(var(--base-duration) / 2) var(--base-ease);
}
.slide__image, .animateBack .catalog-back {
    --d: 20;
    object-fit: cover;
    pointer-events: none;
    transition: opacity var(--base-duration) var(--base-ease), -webkit-transform var(--base-duration) var(--base-ease);
    transition: opacity var(--base-duration) var(--base-ease), transform var(--base-duration) var(--base-ease);
    transition: opacity var(--base-duration) var(--base-ease), transform var(--base-duration) var(--base-ease), -webkit-transform var(--base-duration) var(--base-ease);
    user-select: none;
}

.slide__image-wrapper, .animateBack .catalog-back-wrapper {
    overflow: hidden;
    transition: -webkit-transform calc(var(--base-duration) / 4) var(--base-ease);
    transition: transform calc(var(--base-duration) / 4) var(--base-ease);
    transition: transform calc(var(--base-duration) / 4) var(--base-ease), -webkit-transform calc(var(--base-duration) / 4) var(--base-ease);
}

.animateBack.slide:hover .catalog-back-wrapper,
.slide:hover .slide__image-wrapper {
    transform: scale(1.025) translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
}
