.contacts {
    color: $white;
    background-color: $primary-color;
    overflow: hidden;

    padding: 100px 0 35px;
    @include media-breakpoint-up(md){
        padding: 70px 0 35px;
    }
    @include media-breakpoint-up(xl){
        padding: 150px 0 35px;
    }
    h2 {
        @include media-breakpoint-up(md){
            margin-bottom: 70px;
        }
    }
    &-info {
        margin-top: 50px;
        @include media-breakpoint-up(md){
            margin-top: 150px;
        }
        .navigation {
            height: 550px;
            padding: 0;
            position: static;
            background: none;
            @include media-breakpoint-up(md){
                height: 500px;
            }
        }
        .menu-item {
            line-height: 1.2;
        }
    }
}
