.filter {
  padding-top: 50px;
  //margin-top: 50px;
  @include media-breakpoint-up(md){
    //padding-top: 100px;
  }
  @include media-breakpoint-up(lg){
    //padding-top: 90px;
  }
  @media screen and (min-width: 1701px) {
    padding-top: 120px;
  }
  .catalog {
    @include media-breakpoint-down(sm){
      margin-top: 0;
    }
    @include media-breakpoint-up(lg){
        min-height: 1000px;
    }
    @include media-breakpoint-up(xl){
        min-height: 1200px;
    }
  }
}

.tabs {
  margin-bottom: 30px;
  @include media-breakpoint-up(md){
    margin-bottom: 60px;
  }
}
.tabs,
.filter-menu {
  list-style-type: none;
  position: relative;
  z-index: 10;
  @include media-breakpoint-up(md){
    margin-left: -20px;
  }

  li {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 21px;
    padding: 0 10px;
    @include media-breakpoint-up(md){
      font-size: 37px;
      padding: 0 10px;
      margin-right: 20px;
    }
    @include media-breakpoint-up(lg){
      font-size: 40px;
      padding: 0;
      margin: 0 30px;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $c-error;
        transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
        transition: transform 0.7s;
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
    &::after {
        top: 90%;
        height: 4px;
    }

    &.active,
    &:hover {
      &::before {
          transform: translate3d(100%,0,0) translate3d(1px,0,0);
      }
      &::after {
          transform: translate3d(0,0,0);
      }
    }
  }
}

.breadcrumbs {
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  top: 170px;
  left: -3px;
  display: none;
  z-index: 90;
  @include media-breakpoint-up(md) {
    left: 10px;
    display: block;
  }
  @include media-breakpoint-up(lg) {
    left: 40px;
  }

  &:before {
    content: '.';
    color: #000;
    font-family: "PT Mono";
    font-size: 25px;
    line-height: 0.6;
    top: -35px;
    right: -3px;
    position: absolute;
  }
}
