//
// Pages -> Main
// ------------------------------------

.mainIndexPage {
    overflow: hidden;
    @include media-breakpoint-up(xl) {
        min-height: 6300px;
    }
}

.self-start {
    @include align-self(flex-start);
}
body {
    &.fixed {
        overflow: hidden;
    }
}

#gl {
    height: 500px;
}

.mainVideo {
    position: absolute;
    right: -7%;
    bottom: -17%;
    height: 200px;
    z-index: -1;
    @include media-breakpoint-up(md) {
        bottom: auto;
        right: -220px;
        top: 24%;
        height: 1000px;
    }
}

.main {
    min-height: calc(100vh - 161px);
    background-color: white;
    color: #1d1d1f;
    position: relative;
    opacity: 0;
    &.loaded {
        opacity: 1;
    }
    @media screen and (max-width: 1700px) {
        > section {
            padding-top: 80px;
        }
    }
    @include media-breakpoint-down(md){
        > section {
            padding-top: 60px;
        }
    }
    &.darkTheme {
        // color: $white;
        // .linker a,
        .header-link,
        .breadcrumbs:before,
        .breadcrumbs {
            color: $white;
        }
        .header-link:before {
            background-color: $white;
        }
        .pageContent {
            background-color: $primary-color;
        }
    }
    &.rubl-case:not(.page-exit) {
        .pageContent {
            background-color: #0e0e0e;
        }
    }
    &.ladoga-case:not(.page-exit) {
        .pageContent {
            background-color: #0C161D;
        }
    }
    &.mmz-case:not(.page-exit) {
        .pageContent {
            background-color: #ff656d;
        }
    }

    @media only screen and (min-width: $screen-tablet) {
        min-height: 100vh;
    }
}

.linker {
    @include media-breakpoint-up(md){
        writing-mode: vertical-lr;
        position: fixed;
        bottom: 10px;
        z-index: 88;
        left: 10px;
    }
    @include media-breakpoint-up(lg){
        left: 40px;
    }
    .light,
    .dark {
        // left: -23px;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
    }
    .light {
        a {
            @include media-breakpoint-up(md) {
                color: #fff;
                &:after {
                    background-color: #fff;
                }
            }
        }
    }
    .dark {
        a {
            color: #1d1d1f;
            &:after {
                background-color: #1d1d1f;
            }
        }
    }
    a {
        font-family: CirceRegular;
        //font-size: 16px;
        text-decoration: none;
        display: inline-block;
        position: relative;
        margin-left: 20px;
        margin-top: 40px;
        @include media-breakpoint-up(md){
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 25px;
            transform: rotate(180deg);
        }
        &:after {
            content: '';
            left: 0;
            top: 0;
            position: absolute;
            height: 0;
            width: 1px;
            transition: height 0.5s;
        }
        &:hover:after {
            height: 100%;
        }
    }
}

.zeroBlock {
    position: fixed;
    right: 3px;
    bottom: 35px;
    width: 11px;
    z-index: 97;
    @include media-breakpoint-up(md){
        right: 10px;
    }
    @include media-breakpoint-up(lg){
        right: 40px;
    }
}


.vh-section {
    @include media-breakpoint-up(lg){
        min-height: 75vh;
    }
}

.vh-section-full {
    @include media-breakpoint-up(lg){
        min-height: 100vh;
    }
}

.center-block {
    margin: auto;
}

.indexPage {
    position: relative;
    z-index: 19;
    display: block;
    &--blueServices {
        color: $white;
        padding: 100px 0 50px;
        @include media-breakpoint-down(md){
            padding-top: 70px;
            background: $primary-color;
        }
        @include media-breakpoint-up(md){
            padding: 100px 0;
        }
        @include media-breakpoint-up(xl){
            padding: 150px 0;
        }
    }
    &--blue {
        color: $white;
        background: url("/assets/images/sign_2.svg") no-repeat top 10% right / 25vw auto, $primary-color;
        padding: 50px 0;
        @include media-breakpoint-up(md){
            background: url("/assets/images/sign_2.svg") no-repeat top 10% right / 7.4vw auto, $primary-color;
            padding: 100px 0;
        }
        @include media-breakpoint-up(lg){
            background: url("/assets/images/sign_2.svg") no-repeat top 10% right / 7.4vw auto;
            padding: 300px 0 100px;
        }
        @include media-breakpoint-up(xl){
            padding: 150px 0;
        }
    }
    &--back {
        padding: 0;
        overflow: hidden;
        //background: url("/assets/images/about.jpg") no-repeat center / cover;
    }
    &--backApp {
        padding: 0;
        overflow: hidden;
        //background: url("/assets/images/approach.jpg") no-repeat center / cover;
    }
    &--contacts {
        padding: 0;
        overflow: hidden;
        //background: url("/assets/images/contacts.jpg") no-repeat center / cover;
    }
    &--backProj {
        padding: 0;
        overflow: hidden;
        //background: url("/assets/images/project.jpg") no-repeat center / cover;
    }
    &-start {
        display: flex;
        flex-direction: column;
        justify-content: center;
        //background: url("/assets/images/sign_1.svg") no-repeat top 13% right / 31.3vw auto;
        @include media-breakpoint-up(md){
            //background: url("/assets/images/sign_1.svg") no-repeat top 15% right / 31.3vw auto;
        }
        @include media-breakpoint-up(lg){
            //background: url("/assets/images/sign_1.svg") no-repeat top 10% right / 31.3vw auto;
        }
        .catalog {
            @include media-breakpoint-up(lg){
                min-height: 1000px;
            }
            @include media-breakpoint-up(xl){
                min-height: 1200px;
            }
        }
        p {
            margin-top: 60px;
            @include media-breakpoint-up(lg){
                margin-top: 0;
            }
            margin-bottom: 0;
            color: $primary-color;
        }
    }
    &-ban {
        padding: 50px 0 0;
        @include media-breakpoint-up(md){
            padding: 100px 0;
        }
        @include media-breakpoint-up(xl){
            padding: 200px 0 100px;
        }
    }
    &-links {
        margin: 20px 0 50px;
        @include media-breakpoint-up(md){
            margin: 50px 0;
            display: flex;
            justify-content: space-between;
        }
        @include media-breakpoint-up(lg){
            margin: 50px 0 100px;
        }
        @include media-breakpoint-up(xl){
            margin: 50px 0 150px;
        }
        a {
            color: #1d1d1f;
            position: relative;
        }
        @extend .hoverLink;
        &_item {
            p {
                margin-top: 0;
                font-family: "PT Mono";
                font-size: 15px;
            }
        }
    }
    &-faqLink {
        //cursor: pointer;
        height: 166px;
        width: 166px;
        border-radius: 200px;
        display: block;
        transition: background-color .5s linear;
        background-image: url("/assets/images/cta_default.svg");
        background-position: top left;
        background-color: transparent;
    }
    &-faqLink-body {
        width: 166px;
        transform: scale(1);
        transition: transform .5s linear;
        &:hover {
            transform: scale(1.1);
            transition: transform .5s linear;
            .indexPage-faqLink {
                transition: background-color .5s linear;
                background-color: $c-error;
            }
        }
    }
    &-menuTitle {
        margin-bottom: 70px;
        @include media-breakpoint-up(xl){
            margin-bottom: 140px;
        }
    }
    &-menuDesc {
        font-family: 'PT Mono';
        font-size: 20px;
        margin-top: 30px;
    }
    &-aboutLink {
        overflow: hidden;
        height: 300px;
        display: flex;
        align-items: center;
        color: white;
        background-color: $primary-color;
        @include media-breakpoint-up(lg){
            height: 500px;
        }
        .container {
            max-width: 611px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                width: 172px;
                height: 172px;
                border: 1px solid #FF6F61;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                transition: transform .5s;
                &:after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    height: 110%;
                    transition: top .5s;
                    background: url('/assets/images/loader.svg') no-repeat top center;
                }
            }
        }
        .lds-ring {
            width: 140px;
            height: 140px;
        }
        h2 {
            position: relative;
            line-height: 1.48;
            &:after {
                content: '';
                width: 520px;
                height: 1px;
                background-color: #FF6F61;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width 0.5s;
            }
        }
        &:hover {
            h2 {
                &:after {
                    width: 180px;
                }
            }
            .container {
                span {
                    transform: scale(1.3);
                    &:after {
                        transition: top 5s;
                        top: -10%;
                    }
                }
            }
        }
    }

    &-menu {
        counter-reset: items;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            font-size: 60px;
            color: $white;
            font-family: 'CirceLight';
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 50px;
            transition: color 0.5s;
            @include media-breakpoint-up(md){
                font-size: 80px;
            }
            @include media-breakpoint-up(lg){
                padding-left: 190px;
                font-size: 113px;
            }
            a {
                color: $white;
                position: relative;
                overflow: hidden;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $c-error;
                    transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
                    transition: transform 0.7s;
                    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
                }
                &::after {
                    top: 88%;
                    height: 6px;
                }
            }
            &::before {
                color: #6770e2;
                font-size: 16px;
                font-family: "PT Mono";
                counter-increment: items 1;
                content: counter(items, decimal-leading-zero);
                position: absolute;
                left: 0;
            }
            &::after {
                content: '.';
                color: #6770e2;
                font-family: "PT Mono";
                font-size: 25px;
                position: absolute;
                left: 90px;
            }
            &:hover {
                &::before {
                    color: $c-error;
                }
                a {
                    &::before {
                        transform: translate3d(100%,0,0) translate3d(1px,0,0);
                    }
                    &::after {
                        transform: translate3d(0,0,0);
                    }
                }
            }
        }
    }

    .long-link {
        margin-bottom: 50px;
        @include media-breakpoint-up(md){
            margin-bottom: 150px;
        }
        a {
            position: relative;
            display: inline-block;
            &:after {
                content: '';
                position: absolute;
                height: 2px;
                width: 700%;
                left: 110%;
                top: 25px;
                background-color: #ff6f61;
                transition: left 0.5s;
            }
            &:hover:after {
                left: calc(110% + 140px);
            }
        }
    }
}

.blue-inside {
    position: relative;
    > * {
        position: relative;
        z-index: 9;
    }
    &:after {
        content: '';
        position: absolute;
        z-index: 0;
        background: $primary-color;
        left: -100%;
        right: -100%;
        top: 0;
        bottom: -30%;
    }
}

.indexClients {
    @include media-breakpoint-up(lg){
        padding-bottom: 100px;
        padding-top: 100px;
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 50px 0 0;
        position: relative;
        @include media-breakpoint-up(md){
            margin: 100px 0 0;
        }
        li {
            color: $c-error;
            font-family: "PT Mono";
            font-size: 20px;
            line-height: 1.4;
            margin-bottom: 10px;
            width: 100%;
            padding-left: 20px;
            @include media-breakpoint-up(md){
                width: 50%;
                margin-bottom: 25px;
            }
            @include media-breakpoint-up(lg){
                width: 40%;
            }
            &:before {
                content: '.';
                color: #6770e2;
                font-family: "PT Mono";
                font-size: 25px;
                left: 0;
                position: absolute;
                @include media-breakpoint-down(sm){
                    line-height: 0.7;
                }
            }
        }
    }
}

.no-wrap-md {
    @include media-breakpoint-up(md) {
        white-space: nowrap;
    }
}

.overflow-h {
    overflow: hidden;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex-top {
    margin-top: auto;
}

.poster__content {
    .poster__h1 {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
    h1:not(.poster__h1) {
        //display: block;
        // line-height: 1.1;
        margin-bottom: 30px;
        position: relative;
        z-index: 99;
        @include media-breakpoint-up(md) {
            margin-bottom: 130px;
            //display: none;
        }
    }
}

.parallax-inner {
    @include media-breakpoint-down(md) {
        transform: translate3d(0%, 0px, 0px) !important;
    }
}

.block-inline {
    display: inline-block;
}


.br {
    display: inline;
    @include media-breakpoint-up(md){
        display: block;
    }
}

.frame {
    position: relative;
}

#gl {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}
