.page404 {
  padding-bottom: 10px;
  background: url("/assets/images/404.png") no-repeat right bottom / 64vw auto;

  min-height: calc(100vh - 80px);
  padding-top: 100px;
  @media screen and (min-width: 1701px) {
    min-height: 100vh;
    padding-top: 180px;
  }
  @include media-breakpoint-down(md){
    padding-top: 130px;
    min-height: calc(100vh - 40px);
  }
  @include media-breakpoint-down(sm){
    padding-top: 50px;
    background: url("/assets/images/404.png") no-repeat right 8% bottom 4% / 64vw auto;
  }

  h2 {
    margin-top: 0;
    color: white;
    margin-bottom: 5vh;
    @media screen and (min-width: 1367px) {
      margin-bottom: 90px;
    }
  }
  .menu {
    &-item {
      font-family: "PT Mono";
      font-size: 18px;
      margin-bottom: 20px;
      @include media-breakpoint-up(md){
        font-size: 22px;
      }
    }
  }
}
