.servicePage {
  margin-top: 80px;
  background-color: white;
}

.services {
  font-family: 'PT Mono';

  &-gray {
    font-family: 'PT Mono';
    background: #F8F8F8;
    //padding-bottom: 150px;
    @include media-breakpoint-up(md) {
      margin-top: 200px;
    }

    &--lines {
      background: url('/assets/images/services/lines.svg') no-repeat top right, #F8F8F8;

      h6 {
        font-size: 20px;
        padding-bottom: 20px;
        @include media-breakpoint-up(md) {
          padding-bottom: 0;
          margin-bottom: 60px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 24px;
        }
      }

      .servicesTitle-item h2 {
        line-height: 1;
        padding-top: 10px;
        margin-bottom: 30px;
        @include media-breakpoint-up(md) {
          padding-top: 0;
          margin-bottom: 70px;
        }
      }
    }
  }
}

.servicesLists {
  padding: 40px 10px;

  @include media-breakpoint-up(md) {
    padding: 60px 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 100px 90px;
  }
  @include media-breakpoint-up(xl) {
    padding: 150px 120px;
  }

  h2 {
    margin-top: 0;
    line-height: 1.1;
    color: $primary-color;
    font-size: 37px;
    font-family: PT Mono;
    @include media-breakpoint-up(md) {
      font-size: 60px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 80px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 84px;
    }
    @media screen and (min-width: 1701px) {
      font-size: 96px;
    }
  }

  &-item {
    & + & {
      margin-top: 20px;
      @include media-breakpoint-up(md) {
        margin-top: 90px;
      }
    }
  }

  &-list {
    list-style: none;

    li {
      font-size: 16px;
      padding: 26px 0;
      border-top: 1px solid #0815B7;

      &:last-child {
        border-bottom: 1px solid #0815B7;
      }

      span {
        font-size: 12px;
      }
    }
  }
}

.servicesSeo {
  margin-top: 20px;
  color: $white;
  background: url('/assets/images/services/sign_1.svg') no-repeat center right, $primary-color;
  padding: 40px 20px;
  @include media-breakpoint-up(md) {
    margin-top: 150px;
    padding: 70px 40px;
  }

  @include media-breakpoint-up(lg) {
    padding: 100px 90px;
  }

  @include media-breakpoint-up(xl) {
    padding: 150px 120px;
  }

  h2 {
    margin-top: 0;
    line-height: 1.1;
    font-size: 37px;
    @include media-breakpoint-up(md) {
      font-size: 60px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 80px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 96px;
    }
  }

  > h2 {
    margin-bottom: 60px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 120px;
    }
  }

  h5 {
    font-size: 20px;
    margin-top: 0;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
    @include media-breakpoint-up(lg) {
      font-size: 34px;
    }
  }

  &-item {
    margin-bottom: 60px;
    position: relative;

    h2 {
      color: #FF6F61;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
      font-size: 20px;
      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
    }

    img {
      @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }

  &-list {
    list-style: none;

    li {
      font-size: 16px;
      padding: 26px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }

      &:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.servicesForm {
  margin-top: 40px;
  padding: 120px 80px 300px 80px;
  color: #1D1D1F;
  background: $white;
  position: relative;
  padding: 40px 20px;
  @include media-breakpoint-up(md) {
    padding: 70px 40px;
  }
  @include media-breakpoint-up(lg) {
    padding: 100px 90px;
  }
  @include media-breakpoint-up(xl) {
    padding: 150px 80px 400px 110px;
  }

  .col-xs-12 {
    @include media-breakpoint-up(md) {
      margin-top: -100px;
    }
  }

  > * {
    position: relative;
    z-index: 9;
  }

  h2 {
    margin-top: 0;
    line-height: 1.1;
    color: $primary-color;
    font-size: 37px;
    @include media-breakpoint-up(md) {
      font-size: 60px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 80px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 96px;
    }
  }

  h6 {
    font-size: 18px;
    margin-top: 0;
    line-height: 1.58;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 24px;
    }
  }

  p {
    font-size: 18px;
    text-align: left;
  }

  img {
    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: 100px;
      left: 60px;
      z-index: 6;
      max-width: 64%;
    }
    @include media-breakpoint-up(lg) {
      left: 90px;
      bottom: 150px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 100%;
    }
  }

  .servicesTxt-item {
    text-align: left;
    margin-bottom: 40px;

    span {
      border-color: #FF6F61;
      border-width: 3px;
    }
  }
}

.servicesDev {
  position: relative;
  background: url('/assets/images/services/bi.svg') no-repeat center right;
  padding: 40px 20px;
  @include media-breakpoint-up(md) {
    margin-top: 40px;
    padding: 70px 40px;
  }
  @include media-breakpoint-up(lg) {
    padding: 110px 90px;
  }
  @include media-breakpoint-up(xl) {
    padding: 150px 120px;
  }

  img {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 40px;
      left: 20px;
    }
    @include media-breakpoint-up(lg) {
      top: 70px;
      left: 50px;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.1;
    color: $primary-color;
    font-size: 37px;
    @include media-breakpoint-up(md) {
      margin-bottom: 60px;
      font-size: 60px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 80px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 96px;
    }
  }

  h5 {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-bottom: 60px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 34px;
    }
  }

  p {
    font-size: 16px;
    line-height: 1.75;
  }

  .servicesTxt-item {
    span {
      border-color: #FF6F61;
      border-width: 3px;
    }
  }
}

.servicesTitle {
  position: relative;
  @include media-breakpoint-up(md) {
    top: -70px;
    display: flex;
    justify-content: space-between;
  }
  @include media-breakpoint-up(lg) {
    top: -80px;
  }
  @include media-breakpoint-up(xl) {
    top: -100px;
  }

  &-item {
    h2 {
      color: $primary-color;
      font-weight: 400;
      margin-bottom: 20px;
      line-height: 1.1;
      font-size: 37px;
      @include media-breakpoint-up(md) {
        font-size: 60px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 80px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 96px;
      }
    }

    p {
      color: #1D1D1F;
      font-size: 20px;
      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
    }
  }

  &--red {
    display: flex;
    justify-content: flex-end;
    background: url("/assets/images/services/arrow.svg") no-repeat center top / 100% auto;
    @include media-breakpoint-up(md) {
      margin-top: -50px;
    }

    h2 {
      line-height: 1.1;
      color: #FF6F61;
    }

    &-left {
      background: url("/assets/images/services/arrow-2.svg") no-repeat center top / 100% auto;
      justify-content: flex-start;

      h3 {
        color: #FF6F61;
        line-height: 1.1;
        font-size: 37px;
        @include media-breakpoint-up(md) {
          margin-bottom: 150px;
          font-size: 50px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 60px;
        }
      }
    }
  }
}

.servicesTxt {
  &-item {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 100px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 34px;
    }

    span {
      border-bottom: 6px solid $primary-color;
    }
  }
}

.servicesList {
  @extend .row;

  &-item {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-4;
    padding-right: 12.5px;
    padding-left: 12.5px;
    margin-bottom: 25px;
  }

  &-icon {
    position: absolute;
    top: -40px;
    left: 50px;
    @include media-breakpoint-up(md) {
      top: -140px;
    }
  }

  &-icon2 {
    position: absolute;
    top: -40px;
    right: 150px;
    @include media-breakpoint-up(md) {
      top: -140px;
    }
  }
}
