// image replacement -> hide text
@mixin ir() {
    display: block;
    text-indent: -9999px;
    font-size: 1px;
    color: #fff;
}

@mixin icon($code, $font: $font-family-icons) {
    font-family: $font !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: $code;
}

@mixin clearListStyle() {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin loader-icon() {
    display: block;
    margin: 5px auto;
    width: 40px;
    height: 40px;
    border-top: 3px solid theme-color('primary');
    border-right: 3px solid theme-color('primary');
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    border-radius: 100%;
    margin-bottom: 10px;
    opacity: 1;
    animation: infinite-spinning 1s infinite linear; // see animations.scss
}

// IE
@mixin ie10($rules) {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin ieEdge($rules) {
    @supports (-ms-ime-align: auto) {
        @content;
    }
}

// buttons
@mixin btn-background-setup($className, $color) {
    &-#{$className} {
        background: $color;
        .btn_inside {
            background: $color;
        }

        &.btn-transparent {
            .btn_inside {
                &:after {
                    background: $color;
                }
            }
        }
        &:hover {
            .btn_inside .lds-default div {
                background: $color;
            }
        }
    }
}

@mixin make-row() {
    display: flex;
    flex-wrap: wrap;
    margin-right: ($gutter-width / -2);
    margin-left: ($gutter-width / -2);
}

@mixin make-col($size, $columns: $grid-columns) {
    flex: 0 0 percentage($size / $columns);
    // Add a `max-width` to ensure content within each column does not blow out
    // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
    // do not appear to require this.
    max-width: percentage($size / $columns);
}

@mixin make-col-offset($size, $columns: $grid-columns) {
    $num: $size / $columns;
    margin-left: if($num == 0, 0, percentage($num));
}
