//
//
//%iconfont-reset-box {
//    display: inline-block;
//    font-family: 'icons';
//    -moz-osx-font-smoothing: grayscale;
//    -webkit-font-smoothing: antialiased;
//    font-style: normal;
//    font-weight: normal;
//    line-height: 1;
//    text-decoration: inherit;
//    text-rendering: optimizeLegibility;
//    text-transform: none;
//    vertical-align: middle;
//
//}
//
//// To use iconfont characters on your own types of elements (like custom :after or :before elements)
//// you can use @include iconfont-character( $name ). That way the unicode mapping will always be correct.
//
//$iconfont: (
//        'arrow': '\EA01',
//        'check': '\EA02',
//        'check_box': '\EA03',
//        'check_box_outline_blank': '\EA04',
//        'close': '\EA05',
//        'dropdown': '\EA06',
//        'menu': '\EA07',
//        'my_luminus': '\EA08',
//        'phone': '\EA09',
//        'plus': '\EA0A',
//        'radio_button_checked': '\EA0B',
//        'radio_button_unchecked': '\EA0C',
//        'search': '\EA0D',
//
//        ___: ''
//);
//
//@mixin iconfont-character( $name ){
//
//    $result: map-get( $iconfont, $name );
//
//    @if $result == null {
//
//        @debug 'Requested icon not found: ' + $name;
//        $result: '';
//
//    }
//
//    @extend %iconfont-reset-box;
//    content: $result;
//
//}
//
//.icon- {
//
//    @each $key, $character in $iconfont {
//
//        &#{$key}:before, &-right-#{$key}:after {
//
//            @include iconfont-character( $key );
//
//        }
//
//    }
//
//}
