//
// Mixins -> Modules
// ------------------------------------

//
// responsive utilities
//
@mixin responsive-visibility($parent) {
  #{$parent} {
    display: block;
  }
}
@mixin responsive-invisibility($parent) {
  #{$parent} {
    display: none;
  }
}
